<!DOCTYPE html>
<html>

<head>
  <title>
    register
  </title>
  <style>
    @media (min-width: 1000px) {
      body {
        background-color: lightyellow;
      }
    }

    @media (max-width: 999px) {
      body {
        background-color: lightblue;
      }
    }
  </style>
</head>

<body>
  <h1>Register</h1>
  {% if message %}
  <div>
    {{ message }}
  </div>
  {% endif %}
  <form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div><button type="submit">Register</button></div>
  </form>
</body>

</html>