<!DOCTYPE html>
<html>

<head>
  <title>
    User
  </title>
  <style>
    @media (min-width: 1000px) {
      body {
        background-color: lightyellow;
      }
    }

    @media (max-width: 999px) {
      body {
        background-color: lightblue;
      }
    }
  </style>
</head>

<body>
  <h1>Hello, {{ user.username }}</h1>
  <ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
  <h2>Please select a cinima</h2>
  {% for cinima in cinimas %}
  <a href="{% url 'cinima' cinima.id %}">
    {{cinima.name}}
  </a>
  <br>
  {% endfor %}
</body>

</html>
